@use "../abstracts/_variables/" as va;

@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: va.$bp-tablet) {
      @content;
    }
  }

  @if $bp == tablethorizontal {
    @media (min-width: va.$bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: va.$bp-desktop) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: va.$bp-desktop-xl) {
      @content;
    }
  }
}
@mixin reset-list() {
  padding: 0;
  margin: 0;
  list-style: none;
}
@mixin button() {
  display: inline-block;
  background-color: va.$dark-blue;
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  border-radius: 25px;
  &:hover {
    background-color: white;
    color: va.$dark-blue;
  }
}
