$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$primary-font: "Poppins", sans-serif;

$dark-blue: #264065;
$cyan: #a9d6cb;
$grey-light: #faf8f5;
$grey: #909090;
