body .container__body {
  padding: 0 0 150px 0;

  margin: -30px -20px 50px -20px;
  background-image: url(../../assets/images/background@2x.png);
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -2;
}
.container {
  padding-left: 86px;
  padding-right: 86px;
}
