@use "../abstracts/variables" as va;
@use "../abstracts/mixins" as mx;

.hero__container {
  margin-left: 56px;
  margin-right: 56px;
  margin-bottom: 100px;
}
.hero {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: stretch;
  &__izq {
    & h1 {
      max-width: 60%;
      font-size: 50px;
      line-height: 55px;
      margin-top: 50px;
    }
    &-description {
      max-width: 50%;
      font-size: 18px;
      color: va.$grey;
      font-weight: 300;
      margin-bottom: 50px;
    }
    &-enlaces {
      max-width: 60%;
      display: flex;
      align-items: center;
      margin-bottom: 90px;

      &-button {
        @include mx.button();
        margin-right: 30px;
        box-shadow: 0 5px 10px va.$grey;
      }
      &-video {
        background-color: white;
        padding: 10px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        box-shadow: 0 5px 10px va.$grey;
        :hover {
          background-color: va.$grey;
          border-radius: 50%;
          width: 20px;
          height: 20px;
        }
      }
      &-text {
        margin-left: 10px;
        font-weight: 300;
        font-size: 14px;
      }
    }
    &-features {
      display: flex;
      justify-content: space-between;

      background-color: white;
      border-radius: 15px;
      max-width: 550px;
      gap: 40px;

      &-tipo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 35px;
        padding-left: 10px;
        max-width: 145px;

        img {
          width: 62px;
          margin-bottom: 15px;
        }
        &-bigtx {
          font-size: 30px;
          font-weight: 500;
          margin: 0;
          padding: 0;
          margin-bottom: 15px;
        }
        &-smalltx {
          color: va.$grey;
          font-size: 16px;
          font-weight: 400;
          line-height: 19px;
          text-align: center;
          margin-top: 0;
        }
      }
    }
  }
  &__derch {
    max-width: 35%;
    &-card article {
      position: relative;
      z-index: 3;
      width: 320px;
      border-radius: 20px;
      background-color: rgb(255, 255, 255, 0.5);
      backdrop-filter: blur(2px);
      position: absolute;
      img {
        padding-top: 15px;
        padding-left: 20px;
        max-width: 25px;
      }
      p {
        color: va.$dark-blue;
        font-size: 13px;
        font-weight: 300;
        padding-top: 0;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 0;
      }
      & .author-t {
        padding-bottom: 15px;
        font-weight: 600;
      }
    }
    &-card-1 {
      position: absolute;
      top: 340px;
      right: 155px;
    }
    &-card-2 {
      position: absolute;
      top: 620px;
      right: 250px;
    }
  }
}
